{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "minify": false
}

// {
//   "$schema": "https://json.schemastore.org/swcrc",
//   "sourceMaps": true,
//   "module": {
//     "type": "commonjs"
//   },
//   "jsc": {
//     "target": "es2017",
//     "parser": {
//       "syntax": "typescript",
//       "decorators": true,
//       "dynamicImport": true
//     },
//     "transform": {
//       "legacyDecorator": true,
//       "decoratorMetadata": true
//     },
//     "keepClassNames": true,
//     "baseUrl": "./"
//     // "paths": {
//     //   "@providers": ["common/providers/index.ts"],
//     //   "@providers/*": ["common/providers/*"],
//     //   "@guards": ["common/guards/index.ts"],
//     //   "@guards/*": ["common/guards/*"],
//     //   "@filters": ["common/filters/index.ts"],
//     //   "@filters/*": ["common/filters/*"],
//     //   "@decorators": ["common/decorators/index.ts"],
//     //   "@decorators/*": ["common/decorators/*"],
//     //   "@interceptors": ["common/interceptors/index.ts"],
//     //   "@interceptors/*": ["common/interceptors/*"],
//     //   "@configs": ["configs/index.ts"],
//     //   "@configs/*": ["configs/*"],
//     //   "@common": ["common/index.ts"],
//     //   "@modules": ["modules/index.ts"],
//     //   "@modules/*": ["modules/*"]
//     // }
//   },
//   "minify": false
// }
