@import "tailwindcss";
@import "@heroui/styles";
@source "../../../../../packages/fe-ui/src/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Pretendard", sans-serif;
	min-height: 100vh;
	line-height: 1.6;
}

.font-display {
	font-family: "Pretendard", sans-serif;
	letter-spacing: -0.03em;
}
